<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Медицинские калькуляторы</span>
  <span class="example-spacer"></span>
  <span>Created By: Vesse|</span>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="sofa">
    <span>Критерий SOFA</span>
  </button>
  <button mat-menu-item routerLink="heart">
    <span>Критерий HEART</span>
  </button>
  <button mat-menu-item routerLink="child-phew">
    <span>Критерий Чайлд-Пью</span>
  </button>
</mat-menu>
